@use '../../../stylesheets/variables/' as variable;
@use '../../../stylesheets/mixins.scss' as mixin;

.button {
  cursor: pointer;
  border: transparent;
  align-self: flex-start;
  font-size: variable.$font-15;
  font-weight: variable.$medium;
  background-color: transparent;
  line-height: variable.$line-height-25;
  color: variable.$transparent-black-50;
}
