@use '../../../stylesheets/variables/' as variable;
@use '../../../stylesheets/mixins.scss' as mixin;

.container {
  gap: 2rem;
  width: 100%;
  display: flex;
  padding-block: 2rem;
  padding-inline: 2rem;
  max-width: 21.875rem;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: variable.$white;
}

.heading {
}

.emptyWrapper {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyText {
  font-weight: variable.$bold;
  font-size: variable.$font-18;
  color: variable.$transparent-black-50;
}

.cartList {
  gap: 1.5rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.cartItem {
  gap: 1rem;
  display: flex;
}

.image {
  width: 100%;
  max-width: 4rem;
  border-radius: 0.5rem;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
}

.name,
.price,
.quantity {
  font-weight: variable.$bold;
  line-height: variable.$line-height-25;
}

.name {
  font-size: variable.$font-15;
  text-transform: variable.$all-caps;
}

.price {
  font-size: variable.$font-14;
  color: variable.$transparent-black-50;
}

.quantity {
  margin-left: auto;
  font-size: variable.$font-15;
  color: variable.$transparent-black-50;
}

.priceList {
  gap: 0.5rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.priceList > :last-child {
  margin-top: 1rem;
}

.priceItem {
  display: flex;
  justify-content: space-between;
}

.priceHeading {
  font-size: variable.$font-15;
  font-weight: variable.$medium;
  text-transform: variable.$all-caps;
  color: variable.$transparent-black-50;
  line-height: variable.$line-height-25;
}

.priceValue {
  font-weight: variable.$bold;
  font-size: variable.$font-18;
}

.priceList > :last-child :last-child {
  color: variable.$caramel;
}

@media (width <= 1350px) {
  .container {
    max-width: initial;
  }

  .priceItem,
  .cartItem {
    max-width: initial;
  }
}

@media (width <= 762px) {
  .container {
    padding-inline: 1.5rem;
  }
}
