@use '../../stylesheets/variables' as variable;
@use '../../stylesheets/mixins' as mixin;

.container {
  width: 100%;
  gap: 10.5rem;
  display: flex;
  flex-direction: column;
  padding-block: 7.5rem 12.5rem;
}

@include mixin.ContainerPadding(container);

@media (width <= 1180px) {
  .container {
    gap: 6rem;
    padding-block: 6rem;
  }
}

@media (width <= 550px) {
  .container {
    gap: 7.5rem;
    padding-block: 2.5rem 7.5rem;
  }
}
