@use '../../../stylesheets/variables' as variable;
@use '../../../stylesheets/mixins' as mixin;

.container {
  gap: 6rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: fit-content(27.813rem) fit-content(50rem);
}

.headingWrapper {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  letter-spacing: variable.$letter-spacing-1-43;
}

.variant {
  color: variable.$caramel;
}

.text {
  font-size: variable.$font-15;
  font-weight: variable.$medium;
  line-height: variable.$line-height-25;
  color: variable.$transparent-black-50;
}

.imageWrapper {
  display: flex;
  overflow: hidden;
  align-content: center;
  border-radius: 0.5rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (width <= 1180px) {
  .container {
    gap: 3.938rem;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .headingWrapper {
    text-align: center;
    max-width: 35.625rem;
    justify-content: center;
  }

  .imageWrapper {
    order: -1;
  }
}

@media (width <= 550px) {
  .container {
    gap: 2.5rem;
  }

  .heading {
    line-height: initial;
    font-size: variable.$font-28;
    letter-spacing: variable.$letter-spacing-1;
  }
}
