@use '../../stylesheets/variables' as variable;

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: variable.$padding-165;
  background-color: variable.$eerie-black;
}

.mainWrapper {
  gap: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 2rem 2.25rem;
  justify-content: space-between;
  border-bottom: 1px solid variable.$transparent-white-20;
}

.navigationWrapper {
  display: flex;
  gap: 12.313rem;
  align-items: center;
}

.linkWrapper {
  width: fit-content;
}

@media (width <= 1180px) {
  .navigation {
    padding-inline: variable.$padding-39;
  }
}

@media (width <= 950px) {
  .mainWrapper {
    padding-block: 2rem;
  }

  .navigationWrapper {
    gap: 2.625rem;
  }

  .linkWrapper {
    display: none;
  }
}

@media (width <= 525px) {
  .navigation {
    padding-inline: variable.$padding-24;
  }

  .navigationWrapper {
    width: 100%;
  }

  .mainWrapper,
  .navigationWrapper {
    gap: initial;
  }
}
