@use '../../../stylesheets/variables/' as variable;
@use '../../../stylesheets/mixins.scss' as mixin;

.button {
  @include mixin.DefaultButton(colored, orange);
  width: 17.75rem;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.emptyCart {
  opacity: 0.6;
  pointer-events: none;
  background-color: variable.$battleship-gray;
}

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.text {
  color: variable.$white;
  font-weight: variable.$bold;
  font-size: variable.$font-13;
  text-transform: variable.$all-caps;
  letter-spacing: variable.$letter-spacing-1;
}

.image {
  width: 100%;
  right: -2.5rem;
  position: absolute;
  max-width: 1.75rem;
  transition: opacity 200ms ease;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

@media (width <= 1350px) {
  .button {
    width: 100%;
  }
}
