@use '../../../stylesheets/variables/' as variable;
@use '../../../stylesheets/mixins.scss' as mixin;

.container {
  gap: 6rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: fit-content(33.75rem) fit-content(27.813rem);
}

.container:nth-child(even) {
  grid-template-columns: fit-content(27.813rem) fit-content(33.75rem);
}

.container:nth-child(even) > picture {
  order: 1;
}

.detailsWrapper {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-size: variable.$font-15;
  font-weight: variable.$medium;
  line-height: variable.$line-height-25;
  color: variable.$transparent-black-50;
}

.link {
  margin-top: 0.5rem;
  @include mixin.DefaultButton(colored, orange);
}

@media (width <= 1220px) {
  .detailsWrapper {
    gap: 1rem;
  }
}

@media (width <= 1180px) {
  .container {
    gap: 3.25rem;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .container:nth-child(even) {
    grid-template-columns: 1fr;
  }

  .container:nth-child(even) > picture {
    order: initial;
  }

  .detailsWrapper {
    gap: 1.5rem;
    text-align: center;
    max-width: 35.75rem;
    align-items: center;
  }

  .text {
    margin-top: 0.5rem;
  }

  .link {
    margin: initial;
  }
}

@media (width <= 550px) {
  .container {
    gap: 2rem;
  }

  .detailsWrapper {
    max-width: 20.625rem;
  }

  .text {
    margin-top: initial;
  }
}
