@use 'variables' as variable;
@use 'mixins' as mixin;
@use 'reset';

h1 {
  @include mixin.H1;
}

h2 {
  @include mixin.H2;
}

h3 {
  @include mixin.H3;
}

h4 {
  @include mixin.H4;
}

h5 {
  @include mixin.H5;
}

h6 {
  @include mixin.H6;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mixin.BodyFont;
  background-color: variable.$white-smoke;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: variable.$padding-165;
}
