@use 'variables' as variable;

//Typography
@mixin H1 {
  color: variable.$white;
  font-weight: variable.$bold;
  font-size: variable.$font-56;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-58;
  letter-spacing: variable.$letter-spacing-2;
}

@mixin H2 {
  color: variable.$black;
  font-weight: variable.$bold;
  font-size: variable.$font-40;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-44;
  letter-spacing: variable.$letter-spacing-1-5;
}

@mixin H3 {
  color: variable.$black;
  font-weight: variable.$bold;
  font-size: variable.$font-32;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-36;
  letter-spacing: variable.$letter-spacing-1-15;
}

@mixin H4 {
  color: variable.$black;
  font-weight: variable.$bold;
  font-size: variable.$font-28;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-38;
  letter-spacing: variable.$letter-spacing-2;
}

@mixin H5 {
  color: variable.$black;
  font-weight: variable.$bold;
  font-size: variable.$font-24;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-33;
  letter-spacing: variable.$letter-spacing-1-7;
}

@mixin H6 {
  color: variable.$black;
  font-weight: variable.$bold;
  font-size: variable.$font-18;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-24;
  letter-spacing: variable.$letter-spacing-1-3;
}

@mixin Overline {
  color: variable.$caramel;
  font-size: variable.$font-14;
  font-weight: variable.$regular;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-19;
  letter-spacing: variable.$letter-spacing-10;
}

@mixin Subtitle {
  color: variable.$caramel;
  font-weight: variable.$bold;
  font-size: variable.$font-13;
  text-transform: variable.$all-caps;
  line-height: variable.$line-height-25;
  letter-spacing: variable.$letter-spacing-1;
}

@mixin BodyFont {
  color: variable.$black;
  font-size: variable.$font-15;
  font-weight: variable.$medium;
  line-height: variable.$line-height-25;
}

//Buttons
@mixin ColoredButton {
  height: 3rem;
  width: 10rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: transparent;
  text-decoration: none;
  color: variable.$white;
  justify-content: center;
  font-weight: variable.$bold;
  font-size: variable.$font-13;
  transition: variable.$ease-200ms;
  text-transform: variable.$all-caps;
  background-color: variable.$caramel;
  letter-spacing: variable.$letter-spacing-1;

  &:hover {
    background-color: variable.$atomic-tangerine;
  }
}

@mixin BorderedButton {
}

@mixin TransparentButton {
}

//Form Elements
@mixin TextField {
}

@mixin SelectField {
}

@mixin NumberField {
}

//Container Standard Padding
@mixin ContainerPadding($container) {
  .#{$container} {
    padding-inline: variable.$padding-165;
  }

  @media (width <= 1180px) {
    .#{$container} {
      padding-inline: variable.$padding-39;
    }
  }

  @media (width <= 525px) {
    .#{$container} {
      padding-inline: variable.$padding-24;
    }
  }
}
