//Red Tonalities
$fire-engine-red: hsl(0, 65%, 49%);

//Orange Tonalities
$caramel: hsl(22, 65%, 57%);
$atomic-tangerine: hsl(21, 94%, 75%);

//Black Tonalities
$black: hsl(0, 0%, 0%);
$night: hsl(0, 0%, 6%);
$eerie-black: hsl(0, 0%, 8%);

//White Tonalities
$white: hsl(0, 0%, 100%);
$seasalt: hsl(0, 0%, 98%);
$white-smoke: hsl(0, 0%, 95%);
$anti-flash-white: hsl(0, 0%, 94%);

//Gray Tonalities
$timberwolf: hsl(0, 0%, 81%);
$battleship-gray: hsl(0, 0%, 59%);

//Transparent Colors
$transparent-white-20: hsl(0, 0%, 20%);
$transparent-white-50: hsl(0, 0%, 50%);
$transparent-black-25: hsl(0, 0%, 0%, 25%);
$transparent-black-40: hsl(0, 0%, 0%, 40%);
$transparent-black-50: hsl(0, 0%, 0%, 50%);
