//Paddings
$padding-285: 17.815rem;
$padding-165: 10.313rem;
$padding-39: 2.438rem;
$padding-24: 1.5rem;

//Transitions
$ease-200ms: ease 200ms;

//Box Shadows
$subtle-box-shadow: 0 1px 10px 0 hsla(0, 0%, 0%, 0.1), 0 2px 15px 0 hsla(0, 0%, 0%, 0.05);
