@use '../../../stylesheets/variables' as variable;

.link {
  text-decoration: none;
}

.logo {
  height: 100%;
  min-width: 9.063rem;
}

@media (width <= 525px) {
  .link {
    margin: 0 auto;
  }
}
