@use '../../../stylesheets/variables/' as variable;
@use '../../../stylesheets/mixins.scss' as mixin;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variable.$eerie-black;
}

.heading {
  padding-block: 6.125rem;
  font-size: variable.$font-40;
  line-height: variable.$line-height-44;
  letter-spacing: variable.$letter-spacing-1-43;
}

@media (width <= 1180px) {
  .heading {
    padding-block: 6.563rem 6.125rem;
  }
}

@media (width <= 550px) {
  .heading {
    padding-block: 2rem;
    line-height: initial;
    font-size: variable.$font-28;
    letter-spacing: variable.$letter-spacing-2;
  }
}
